<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Listar</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Remessa Itaú CNAB 400</a>
		<a class="navbar-brand" href="/layout">Voltar</a>
	</nav>
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
				    	<tr>
					      <th scope="col">Literal da remessa</th>
					      <th scope="col">Literal do Serviço</th>
					      <th scope="col">Agencia</th>
					      <th scope="col">Conta</th>
					      <th scope="col">DAC</th>
					      <th scope="col">Nome do Colégio</th>
					      <th scope="col">Banco</th>
					      <th scope="col">Data de Geração</th>
						</tr>
					</thead>
					<tbody>		
						<tr>			
							<td><%=remessa[0].getLiteralDeRemessaHeader()%></td>
							<td><%=remessa[0].getLiteralDeServicoHeader()%></td>
							<td><%=remessa[0].getAgenciaHeader()%></td>
							<td><%=remessa[0].getContaHeader()%></td>
							<td><%=remessa[0].getDacHeader()%></td>
							<td><%=remessa[0].getNomeDaEmpresaHeader()%></td>
							<td><%=remessa[0].getNomeDoBancoHeader()%></td>
							<td><%=remessa[0].getDataDeGeracaoHeader()%></td>
						</tr>
					</tbody>
				</table>
				<table class="table">
					<thead>
				    	<tr>
							<th scope="col">Código da Ocorrência</th>
							<th scope="col">Nome do Sacado</th>
							<th scope="col">Nosso Número</th>
							<th scope="col">Vencimento</th>
							<th scope="col">Valor Título</th>
							<th scope="col">Juros/Dia</th>
							<th scope="col">Data Desconto</th>
							<th scope="col">Valor Desconto</th>
							<th scope="col">Abatimento</th>
						</tr>
					</thead>
					<tbody>
						<%var cont = 0;%>
						<% for(var i=0; i<remessa.length; ++i){ %>
							<% if(remessa[i].toString().substring(0,1) != 9) { %>		
								<tr>
									<td><%=remessa[i].getCodigoOcorrenciaTransacao()%></td>			
									<td><%=remessa[i].getNomeTransacao()%></td>
									<td><%=remessa[i].getNossoNumeroTransacao()%></td>
									<td><%=remessa[i].getVencimentoTransacao()%></td>
									<td><%=remessa[i].getValorTituloTransacao()%></td>
									<td><%=remessa[i].getJurosDiaTransacao()%></td>
									<td><%=remessa[i].getDataDescontoTransacao()%></td>
									<td><%=remessa[i].getValorDescontoTransacao()%></td>
									<td><%=remessa[i].getAbatimentoTransacao()%></td>
								</tr>
							<%}%>
						<%cont++%>
						<%}%>
					</tbody>
				</table>
				<p><%=cont%></p>
				<table class="table">
					<thead>
				    	<tr>
					      <th scope="col">Tipo de Registro</th>
					      <th scope="col">Brancos</th>
					      <th scope="col">Numero Sequencial</th>
						</tr>
					</thead>
					<tbody>		
						<tr>			
							<td><%=remessa[2].getTipoDeRegistroTrailer()%></td>
							<td><%=remessa[2].getBrancosTrailer()%></td>
							<td><%=remessa[2].getNumeroSequencialTrailer()%></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>